<script type="text/javascript">

  var w;
  var h;
  var p5Canvas;

  function setup() {
    w = parseInt(getComputedStyle(document.getElementById("site-header-animation")).getPropertyValue('width'));
    h = parseInt(getComputedStyle(document.getElementById("site-header-animation")).getPropertyValue('height'));
    p5Canvas = createCanvas(w, h);
    p5Canvas.parent('site-header-animation');
    renderBackground();
  }

  function windowResized() {
    w = parseInt(getComputedStyle(document.getElementById("site-header-animation")).getPropertyValue('width'));
    h = parseInt(getComputedStyle(document.getElementById("site-header-animation")).getPropertyValue('height'));
    resizeCanvas(w, h);
    renderBackground();
  }

  function renderBackground() {
    textAlign(CENTER);
    textSize(random(75,125));
    for (var i = 0; i < 20; i++) {
      push();
      var c = random(191, 255);
      fill(c, c, c);
      translate(random(width), random(height));
      rotate(random(2 * PI));
      text('adorably.fragileinfrastructure', 0, 0);
      pop();
    }
  }

</script>

<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
